.btn_style {
  background-color: var(--green);
  padding: 14px 25px;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  margin: 0 auto;
  height: 100%;

  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--main-text);
  }
}