.search {
  height: 100%;

  &_box {
    height: 100%;
    display: flex;
    position: relative;
    background-color: var(--card-bg);
    border-radius: 40px;
    width: 100%;
    padding: 8px 33px;
    gap: 30px;

    &:focus-within {
      outline: 2px solid white;
    }
  }

  &_input {
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 1rem;
    color: var(--main-text);

    &::placeholder {
      color: var(--white-60);
    }

    &:focus {
      outline: none;
    }
  }
}